.notification {
  position: fixed;
  top:70px;
  width: 350px;
  right: 20px;
  list-style: none;
  height: 170px;
  background-color: #fff;
  text-align: center;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.4);
  padding: 7px 10px;
}

.notification-header {
  text-align: right;
}
.notification-footer{
    list-style: none;
}


@media only screen and (max-width:500px) {
    .notification{
        bottom: 0;
        top: 78%;
        right: 0;
        left: 0;
        width: 100%;
    }
    
}